body {
    text-align: center;
    background-color: black;
    color: aliceblue;
}
 
.img3 {
    clip-path: circle();
}

body {
    background-image: url("images/img2.GIF");
    background-repeat: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  }